# Exclude source files and dev directories
/src
/node_modules
/.husky
/docs

# Exclude development/config files
.prettierignore
.prettierrc.json
eslint.config.mjs
tsconfig.json
tsup.config.ts

# Exclude documentation not needed in the package
CONTRIBUTING.md